* {
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 60%;
    max-width: 1040px;
    height: 80vh;
    overflow: auto;
    flex-direction: row;
    margin: 0 auto;
}
.flex-container .flex-item {
    width: 60%;
    min-height: 500px;
    margin: 5px;
}
svg { width: 100%; }
text { font-size: 16px; }
/* Responsive Design: stacks graphs when you resize window */
@media only screen and (max-width: 600px) {
    .flex-container {
        display: block;
        width: 80%;
        height: auto;
    }
    .flex-container .flex-item { min-height: auto; }
}

#container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 32px;
  text-transform: none;
  font-weight: 600;
}

#chart {
  width: 100%;
}

svg {
  max-width: 100%; 
  height: auto;
}

.svg-tooltip {
  background: rgba(69, 77, 93, .9);
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  max-width: 300px;
  padding: 1rem;
  position: absolute;
  text-overflow: ellipsis;
  white-space: pre;
  z-index: 300;
  visibility: hidden;
}

svg text {
  text-transform: lowercase;
}
